nav {
  justify-content: space-around !important;
}

.navbar-nav {
  justify-content: space-around;
}

#star {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
