nav {
  justify-content: space-around !important;
  background-color: rgb(210, 232, 247);
}

.navbar-nav {
  justify-content: space-around;
}

#star {
  animation: spin 4s linear infinite;
}

#star:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
